body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    color: #8fbfbf;
}

/* containers */

.container-fluid {
    padding: 7% 15%;
}

/* sections */

.colored-sec {
    background-color: #ff4c68;
    color: white;
}

.white-sec {
    background-color: #fff;
}

/* title */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.nav-item {
    padding: 0 18px;
}

.download {
    margin: 5% 3% 5% 0;
}

.navbar {
    padding-bottom: 4.5rem;
}

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.title-img {
    position: absolute;
    width: 22%;
    right: 24%;
    transform: rotate(22deg);
}

#title .container-fluid {
    text-align: left;
    padding: 3% 15% 4%;
}

/* feature */

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}



#features {
    position: relative;
    padding: 7% 15%;
}

/* testimonial */

.carousel-item {
    padding: 7% 15%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#testimonials {
    background-color: #ef8172;
}

/* press */
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#press {
    background-color: #ef8172;
}

/* pricing */

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-col {
    padding: 3% 2%;
}

#pricing {
    text-align: center;
    padding: 100px;
}

/* footer */

.footer-icons {
    margin: 20px 10px;
}

#footer {
    padding: 7% 15%;
}

@media (max-width: 1028px) {
    .title-img {
        position: static;
        transform: rotate(0);
        width: 60%;
    }

    #title {
        text-align: center;
    }
}